<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="OpenZitiWintunInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Ziti" UpgradeCode="1abdbe15-0f36-4633-ba6f-8a32d8cf4838">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
        
        <DirectoryRef Id="INSTALLFOLDER">
            <Merge Id="WintunMergeModule" Language="0" DiskId="1" SourceFile="wintun-amd64-0.8.1.msm" />
        </DirectoryRef>
        <Feature Id="WintunFeature" Title="Wintun" Level="1">
            <MergeRef Id="WintunMergeModule" />
        </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="OpenZitiWintunInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
