/*!---------- GRIDS ----------*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.gridrow {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/*!---------- SPACING ----------*/

.mr0 {
	margin-right: 0!important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb2 {
	margin-bottom: 2px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb8 {
	margin-bottom: 8px !important;
}

.mb10{
	margin-bottom: 10px !important;
}

.mb12 {
	margin-bottom: 12px !important;
}

.mb16 {
	margin-bottom: 16px !important;
}

.mb24 {
	margin-bottom: 24px!important;
}

.mb30 {
	margin-bottom: 30px!important;
}

.mb32 {
	margin-bottom: 32px!important;
}

.mb40 {
	margin-bottom: 40px!important;
}

.mb48 {
	margin-bottom: 48px!important;
}

.mb56 {
	margin-bottom: 56px!important;
}

.mb64 {
	margin-bottom: 64px!important;
}

.mb72 {
	margin-bottom: 72px!important;
}

.mb80 {
	margin-bottom: 80px!important;
}

.mb88 {
	margin-bottom: 88px!important;
}

.mb96 {
	margin-bottom: 96px!important;
}

.mb104 {
	margin-bottom: 104px!important;
}

.mb112 {
	margin-bottom: 112px!important;
}

.mb120 {
	margin-bottom: 120px!important;
}

.mb160 {
	margin-bottom: 160px!important;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5px!important;
}

.mt8 {
	margin-top: 8px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt12 {
	margin-top: 12px !important;
}

.mt15 {
	margin-top: 15px!important;
}

.mt16 {
	margin-top: 16px!important;
}

.mt24 {
	margin-top: 24px!important;
}

.mt32 {
	margin-top: 32px!important;
}

.mt40 {
	margin-top: 40px!important;
}

.mt48 {
	margin-top: 48px!important;
}

.mt56 {
	margin-top: 56px!important;
}

.mt64 {
	margin-top: 64px!important;
}

.mt72 {
	margin-top: 72px!important;
}

.mt80 {
	margin-top: 80px!important;
}

.mt88 {
	margin-top: 88px!important;
}

.mt96 {
	margin-top: 96px!important;
}

.mt104 {
	margin-top: 104px!important;
}

.mt112 {
	margin-top: 112px!important;
}

.mt120 {
	margin-top: 120px!important;
}

.mt160 {
	margin-top: 160px!important;
}

.p32 {
	padding: 0 32px!important;
}

.p24 {
	padding: 24px!important;
}

.p0 {
	padding: 0!important;
}

.pr0 {
	padding-right: 0!important;
}

.pr10 {
	padding-right: 10px!important;
}

.pt0 {
	padding-top: 0!important;
}

.pt8 {
	padding-top: 8px!important;
}

.pt16 {
	padding-top: 16px!important;
}

.pt24 {
	padding-top: 24px!important;
}

.pt32 {
	padding-top: 32px!important;
}

.pt40 {
	padding-top: 40px!important;
}

.pt48 {
	padding-top: 48px!important;
}

.pt64 {
	padding-top: 64px!important;
}

.pt72 {
	padding-top: 72px!important;
}

.pt80 {
	padding-top: 80px!important;
}

.pt88 {
	padding-top: 88px!important;
}

.pt96 {
	padding-top: 96px!important;
}

.pt104 {
	padding-top: 104px!important;
}

.pt112 {
	padding-top: 112px!important;
}

.pt120 {
	padding-top: 120px!important;
}

.pt160 {
	padding-top: 160px!important;
}

.pt180 {
	padding-top: 180px!important;
}

.pt240 {
	padding-top: 240px!important;
}

.pb0 {
	padding-bottom: 0!important;
}

.pb8 {
	padding-bottom: 8px!important;
}

.pb16 {
	padding-bottom: 16px!important;
}

.pb24 {
	padding-bottom: 24px!important;
}

.pb32 {
	padding-bottom: 32px!important;
}

.pb40 {
	padding-bottom: 40px!important;
}

.pb48 {
	padding-bottom: 48px!important;
}

.pb56 {
	padding-bottom: 56px!important;
}

.pb64 {
	padding-bottom: 64px!important;
}

.pb72 {
	padding-bottom: 72px!important;
}

.pb80 {
	padding-bottom: 80px!important;
}

.pb88 {
	padding-bottom: 88px!important;
}

.pb96 {
	padding-bottom: 96px!important;
}

.pb104 {
	padding-bottom: 104px!important;
}

.pb112 {
	padding-bottom: 112px!important;
}

.pb120 {
	padding-bottom: 120px!important;
}

.pb160 {
	padding-bottom: 160px!important;
}

.pb180 {
	padding-bottom: 180px!important;
}

.pb240 {
	padding-bottom: 240px!important;
}

@media all and (max-width: 990px) {
	.mb-s-0 {
		margin-bottom: 0!important;
	}
	.mb-s-8 {
		margin-bottom: 8px!important;
	}
	.mb-s-16 {
		margin-bottom: 16px!important;
	}
	.mb-s-24 {
		margin-bottom: 24px!important;
	}
	.mb-s-32 {
		margin-bottom: 32px!important;
	}
	.mb-s-40 {
		margin-bottom: 40px!important;
	}
	.mb-s-48 {
		margin-bottom: 48px!important;
	}
	.mb-s-64 {
		margin-bottom: 64px!important;
	}
	.mb-s-72 {
		margin-bottom: 72px!important;
	}
	.mb-s-80 {
		margin-bottom: 80px!important;
	}
	.mb-s-88 {
		margin-bottom: 88px!important;
	}
	.mb-s-96 {
		margin-bottom: 96px!important;
	}
	.mb-s-104 {
		margin-bottom: 104px!important;
	}
	.mb-s-112 {
		margin-bottom: 112px!important;
	}
	.mb-s-120 {
		margin-bottom: 120px!important;
	}
}

@media all and (max-width: 990px) {
	.mb-sm-0 {
		margin-bottom: 0!important;
	}
	.mb-sm-8 {
		margin-bottom: 8px!important;
	}
	.mb-sm-16 {
		margin-bottom: 16px!important;
	}
	.mb-sm-24 {
		margin-bottom: 24px!important;
	}
	.mb-sm-32 {
		margin-bottom: 32px!important;
	}
	.mb-sm-40 {
		margin-bottom: 40px!important;
	}
	.mb-sm-48 {
		margin-bottom: 48px!important;
	}
	.mb-sm-64 {
		margin-bottom: 64px!important;
	}
	.mb-sm-72 {
		margin-bottom: 72px!important;
	}
	.mb-sm-80 {
		margin-bottom: 80px!important;
	}
	.mb-sm-88 {
		margin-bottom: 88px!important;
	}
	.mb-sm-96 {
		margin-bottom: 96px!important;
	}
	.mb-sm-104 {
		margin-bottom: 104px!important;
	}
	.mb-sm-112 {
		margin-bottom: 112px!important;
	}
	.mb-sm-120 {
		margin-bottom: 120px!important;
	}
	.mt-sm-0 {
		margin-top: 0 !important;
	}
	.mt-sm-8 {
		margin-top: 8px!important;
	}
	.mt-sm-16 {
		margin-top: 16px!important;
	}
	.mt-sm-24 {
		margin-top: 24px!important;
	}
	.mt-sm-32 {
		margin-top: 32px!important;
	}
	.mt-sm-40 {
		margin-top: 40px!important;
	}
	.mt-sm-48 {
		margin-top: 48px!important;
	}
	.mt-sm-56 {
		margin-top: 56px!important;
	}
	.mt-sm-64 {
		margin-top: 64px!important;
	}
	.mt-sm-72 {
		margin-top: 72px!important;
	}
	.mt-sm-80 {
		margin-top: 80px!important;
	}
	.mt-sm-88 {
		margin-top: 88px!important;
	}
	.mt-sm-96 {
		margin-top: 96px!important;
	}
	.mt-sm-104 {
		margin-top: 104px!important;
	}
	.mt-sm-112 {
		margin-top: 112px!important;
	}
	.mt-sm-120 {
		margin-top: 120px!important;
	}
	.p0-sm {
		padding: 0!important;
	}
	.pt-sm-0 {
		padding-top: 0!important;
	}
	.pt-sm-8 {
		padding-top: 8px!important;
	}
	.pt-sm-16 {
		padding-top: 16px!important;
	}
	.pt-sm-24 {
		padding-top: 24px!important;
	}
	.pt-sm-32 {
		padding-top: 32px!important;
	}
	.pt-sm-40 {
		padding-top: 40px!important;
	}
	.pt-sm-48 {
		padding-top: 48px!important;
	}
	.pt-sm-64 {
		padding-top: 64px!important;
	}
	.pt-sm-72 {
		padding-top: 72px!important;
	}
	.pt-sm-80 {
		padding-top: 80px!important;
	}
	.pt-sm-88 {
		padding-top: 88px!important;
	}
	.pt-sm-96 {
		padding-top: 96px!important;
	}
	.pt-sm-104 {
		padding-top: 104px!important;
	}
	.pt-sm-112 {
		padding-top: 112px!important;
	}
	.pt-sm-120 {
		padding-top: 120px!important;
	}
	.pt-sm-160 {
		padding-top: 160px!important;
	}
	.pb-sm-0 {
		padding-bottom: 0!important;
	}
	.pb-sm-8 {
		padding-bottom: 8px!important;
	}
	.pb-sm-16 {
		padding-bottom: 16px!important;
	}
	.pb-sm-24 {
		padding-bottom: 24px!important;
	}
	.pb-sm-32 {
		padding-bottom: 32px!important;
	}
	.pb-sm-40 {
		padding-bottom: 40px!important;
	}
	.pb-sm-48 {
		padding-bottom: 48px!important;
	}
	.pb-sm-64 {
		padding-bottom: 64px!important;
	}
	.pb-sm-72 {
		padding-bottom: 72px!important;
	}
	.pb-sm-80 {
		padding-bottom: 80px!important;
	}
	.pb-sm-88 {
		padding-bottom: 88px!important;
	}
	.pb-sm-96 {
		padding-bottom: 96px!important;
	}
	.pb-sm-104 {
		padding-bottom: 104px!important;
	}
	.pb-sm-112 {
		padding-bottom: 112px!important;
	}
	.pb-sm-120 {
		padding-bottom: 120px!important;
	}
}

@media all and (max-width: 767px) {
	.mb-xs-0 {
		margin-bottom: 0!important;
	}
	.mb-xs-8 {
		margin-bottom: 8px!important;
	}
	.mb-xs-16 {
		margin-bottom: 16px!important;
	}
	.mb-xs-24 {
		margin-bottom: 24px!important;
	}
	.mb-xs-32 {
		margin-bottom: 32px!important;
	}
	.mb-xs-40 {
		margin-bottom: 40px!important;
	}
	.mb-xs-48 {
		margin-bottom: 48px!important;
	}
	.mb-xs-64 {
		margin-bottom: 64px!important;
	}
	.mb-xs-72 {
		margin-bottom: 72px!important;
	}
	.mb-xs-80 {
		margin-bottom: 80px!important;
	}
	.mb-xs-88 {
		margin-bottom: 88px!important;
	}
	.mb-xs-96 {
		margin-bottom: 96px!important;
	}
	.mb-xs-104 {
		margin-bottom: 104px!important;
	}
	.mb-xs-112 {
		margin-bottom: 112px!important;
	}
	.mb-xs-120 {
		margin-bottom: 120px!important;
	}
	.mt-xs-0 {
		margin-top: 0 !important;
	}
	.mt-xs-8 {
		margin-top: 8px!important;
	}
	.mt-xs-16 {
		margin-top: 16px!important;
	}
	.mt-xs-24 {
		margin-top: 24px!important;
	}
	.mt-xs-32 {
		margin-top: 32px!important;
	}
	.mt-xs-40 {
		margin-top: 40px!important;
	}
	.mt-xs-48 {
		margin-top: 48px!important;
	}
	.mt-xs-56 {
		margin-top: 56px!important;
	}
	.mt-xs-64 {
		margin-top: 64px!important;
	}
	.mt-xs-72 {
		margin-top: 72px!important;
	}
	.mt-xs-80 {
		margin-top: 80px!important;
	}
	.mt-xs-88 {
		margin-top: 88px!important;
	}
	.mt-xs-96 {
		margin-top: 96px!important;
	}
	.mt-xs-104 {
		margin-top: 104px!important;
	}
	.mt-xs-112 {
		margin-top: 112px!important;
	}
	.mt-xs-120 {
		margin-top: 120px!important;
	}
	.p0-xs {
		padding: 0!important;
	}
	.pt-xs-0 {
		padding-top: 0!important;
	}
	.pt-xs-8 {
		padding-top: 8px!important;
	}
	.pt-xs-16 {
		padding-top: 16px!important;
	}
	.pt-xs-24 {
		padding-top: 24px!important;
	}
	.pt-xs-32 {
		padding-top: 32px!important;
	}
	.pt-xs-40 {
		padding-top: 40px!important;
	}
	.pt-xs-48 {
		padding-top: 48px!important;
	}
	.pt-xs-64 {
		padding-top: 64px!important;
	}
	.pt-xs-72 {
		padding-top: 72px!important;
	}
	.pt-xs-80 {
		padding-top: 80px!important;
	}
	.pt-xs-88 {
		padding-top: 88px!important;
	}
	.pt-xs-96 {
		padding-top: 96px!important;
	}
	.pt-xs-104 {
		padding-top: 104px!important;
	}
	.pt-xs-112 {
		padding-top: 112px!important;
	}
	.pt-xs-120 {
		padding-top: 120px!important;
	}
	.pt-xs-160 {
		padding-top: 160px!important;
	}
	.pt-xs-180 {
		padding-top: 180px!important;
	}
	.pt-xs-240 {
		padding-top: 240px !important;
	}
	.pb-xs-0 {
		padding-bottom: 0!important;
	}
	.pb-xs-8 {
		padding-bottom: 8px!important;
	}
	.pb-xs-16 {
		padding-bottom: 16px!important;
	}
	.pb-xs-24 {
		padding-bottom: 24px!important;
	}
	.pb-xs-32 {
		padding-bottom: 32px!important;
	}
	.pb-xs-40 {
		padding-bottom: 40px!important;
	}
	.pb-xs-48 {
		padding-bottom: 48px!important;
	}
	.pb-xs-64 {
		padding-bottom: 64px!important;
	}
	.pb-xs-72 {
		padding-bottom: 72px!important;
	}
	.pb-xs-80 {
		padding-bottom: 80px!important;
	}
	.pb-xs-88 {
		padding-bottom: 88px!important;
	}
	.pb-xs-96 {
		padding-bottom: 96px!important;
	}
	.pb-xs-104 {
		padding-bottom: 104px!important;
	}
	.pb-xs-112 {
		padding-bottom: 112px!important;
	}
	.pb-xs-120 {
		padding-bottom: 120px!important;
	}
	.pb-xs-180 {
		padding-bottom: 180px!important;
	}
	.pb-xs-240 {
		padding-bottom: 240px!important;
	}
}

