<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UpdateUrl" value="https://netfoundry.jfrog.io/netfoundry/ziti-maven-snapshot/ziti-tunnel-win/amd64/windows/ziti-tunnel-win/maven-metadata.xml"/>
      
    <!-- 
    Format for UpdateTimer is "hours:minutes:seconds" - none of the values can exceed the normal range of each tuple.
    For example this is invalid: "0:60:0" because 60 is > 59. To represent every hour you would use "1:0:0"
    
    This example shows a value that would check for updates every one hour, two minutes and three seconds
    <add key="UpdateTimer" value="1:2:3"/>
    -->
    <add key="UpdateTimer" value="0:0:5"/>
      
    <add key="Version" value="latest"/>
      
    <!--
    Format for ServiceTimer is "hours:minutes:seconds" - none of the values can exceed the normal range of each tuple.
    For example this is invalid: "0:60:0" because 60 is > 59. To represent every hour you would use "1:0:0"
    
    This example shows a value that would check for the health of the service every one hour, two minutes and three seconds
    <add key="ServiceTimer" value="1:2:3"/>
    
    This operation is fast and should probably remain low such as "0:1:0" (every minute) or "0:0:15" (every 15 seconds)
    -->
    <add key="ServiceTimer" value="0:0:5"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>