<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target name="LogFile" xsi:type="File"
          layout="${longdate}|${level:uppercase=true:padding=5}|${logger}|${message}"
          fileName="ziti-monitor.log"
          archiveEvery="Day"
          archiveNumbering="Date"
          archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="14" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
