<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console"
          layout="[${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}Z] ${level:uppercase=true:padding=5}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}"/>
        <target name="LogFile" xsi:type="File"
          layout="[${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}Z] ${level:uppercase=true:padding=5}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}"
          fileName="logs\UI\ZitiDesktopEdge.log"
          archiveEvery="Day"
          archiveNumbering="Date"
          archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="7" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog> 
